apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ include "llmsa-webhook.fullname" . }}
  labels:
    {{- include "llmsa-webhook.labels" . | nindent 4 }}
webhooks:
  - name: attestation.llmsa.io
    admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: {{ include "llmsa-webhook.fullname" . }}
        namespace: {{ .Release.Namespace }}
        path: /validate
        port: 443
      caBundle: ""
    rules:
      - apiGroups:
          - ""
          - apps
          - batch
        apiVersions:
          - v1
        operations:
          - CREATE
          - UPDATE
        resources:
          - pods
          - deployments
          - replicasets
          - statefulsets
          - daemonsets
          - jobs
    namespaceSelector:
      {{- toYaml .Values.webhook.namespaceSelector | nindent 6 }}
    failurePolicy: {{ .Values.webhook.failurePolicy }}
    sideEffects: None
    timeoutSeconds: 10
